language: node_js
compiler:
  - clang
  - gcc
node_js:
  - 8
  - 9
  - lts/*
  - node
os:
  - linux
  - osx
#  - windows
dist: xenial
cache:
  directories:
    - node_modules
#after_success:
#  - npm run examples
#  - npm run out